/*******************************
VARIABLES
********************************/

// Colours
$color-primary: #f54e75;
$black: #112035;
$white: #ffffff;
$grey: #f9f9f9;
$transparent: transparent;

// Fonts
$font-regular: "openSansRegular", Arial, sans-serif;
$font-bold: "openSansBold", Arial, sans-serif;
$font-semiBold: "openSansSemiBold", Arial, sans-serif;
$font-extraBold: "openSansExtraBold", Arial, sans-serif;
